<%- include('./partial/header/header-homepage.ejs') -%>
<br><br><br>
<div class="container">
  <div class="row">
    <% image.forEach(gambar => { %>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <img src="<%= gambar.image %>" class="card-img-top" alt="">
          <div class="card-body">
            <h3 class="card-title"><%= gambar.name_destination %></h3>
            <a href="/destination/destination-show/<%= gambar.id %>" class="btn btn-primary">Show</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <br>
<br><br><br>
<%- include('./partial/footer/footer.ejs') -%>